body {
    min-height: 100vh;
}

.main {
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    min-height: 10vh;
}

.footer {
    min-height: 10vh;
}

.gridContainer {
    margin: 0;
    padding: 0;
    border: 0;
    width: 501px; /* size of a row of the grid (30*16) */
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    border: solid 2px red;
    
}

.gridBody {
    margin: 0;
    padding: 0;
}

.main-div1 {
    display: flex;
    gap: 50px;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.colorSection {
    display: flex;
    flex-direction: column;
}

.rangeSection {
    display: flex;
    flex-direction: column;
}